[submodule ".config/rofi/themes"]
	path = .config/rofi/themes
	url = https://github.com/newmanls/rofi-themes-collection.git
[submodule ".config/neofetch/themes"]
	path = .config/neofetch/themes
	url = https://github.com/Chick2D/neofetch-themes.git
[submodule ".config/polybar/plugins/spotify"]
	path = .config/polybar/plugins/spotify
	url = https://github.com/Jvanrhijn/polybar-spotify.git