
@import "~/.cache/wal/colors-rofi-dark"

window{
    width:30%;
}

configuration {
    show-icons:true;
    font: "JetBrainsMono Nerd Font Bold 15";
    modes: [combi, drun];
    terminal: "kitty";
}

